{% extends "index.html" %} {% block title %}login{% endblock %} 
{% block content %}

<section class="mx-2 section-conten p-y" style="min-height: 64vh">
  <!-- ============================ COMPONENT LOGIN   ================================= -->
  <div class="flex justify-center items-center h-[80vh] w-full">
    <div
      class="h-[38vh] md:h-[36vh] w-[96%] md:w-[30%] border border-gray-500 rounded pt-8 px-8"
    >
      <div class="text-stone-700 text-2xl font-bold">Forgot Password</div>
      {% include "include/alerts.html" %}

      <form action="{% url 'forgotPassword' %}" method='post'>
        {% csrf_token %}
        <div class="mt-8 space-y-4">
          <input
            name="email"
            class="w-full rounded-lg"
            type="email"
            placeholder="Email Address"
          />
          
        </div>
        <div class="flex justify-end mt-4 mb-4 text-[#038d63]">
          <a href="{% url 'login' %}">Got Password? Login</a>
        </div>
        <div>
          <button
            type="submit"
            class="bg-[#038d63] w-full text-white py-2 mb-8 rounded-lg"
          >
            Submit
          </button>
        </div>
      </form>
      
      
    </div>
  </div>
  {% endblock %}
</section>
