{% extends "index.html" %}

{% block title %}Register{% endblock %}

{% block content %}

<div class='rounded h-[90vh] w-full flex flex-col justify-center items-center pt-8'>
    {% include "include/alerts.html" %}
    
    <form action="{% url 'register' %}" method='POST' class='border rounded border-stone-500 w-[95%] md:w-[35%] h-fit px-4 py-8 md:py-14'>
        {% csrf_token %}
        {% comment %} <div class='border rounded border-stone-500 w-[95%] md:w-[35%] h-fit px-4 py-8 md:py-14'> {% endcomment %}
            <div class='flex justify-between text-2xl text-stone-700 font-bold'>
                <p>Register</p>
                <div class='flex gap-2 text-lg font-normal'>
                    <label for="">register as</label>
                    <div class='border-0 pr-2 md:pr-8'>
                        {{form.type}}
                    </div>
                    
                </div>
            </div>
            <div class="mt-8 mb-2 space-y-4">
                
                <div class="flex justify-between space-x-4">
                    <div class="flex flex-col w-1/2">
                        <label>First name</label>
                        {% comment %} <input type="text" class="w-full rounded-md" placeholder='Enter first name'/> {% endcomment %}
                        {{form.first_name}}
                    </div>
                    <div class="flex flex-col w-1/2">
                        <label>Last name</label>
                        {% comment %} <input type="text" class="w-full rounded-md" placeholder='Enter last name'/> {% endcomment %}
                        {{form.last_name}}
                    </div>
                </div>
                <div class="flex justify-between space-x-4">
                    <div class="flex flex-col w-1/2">
                        <label>Email address</label>
                        {% comment %} <input type="text" class="w-full rounded-md" placeholder='Enter email address'/> {% endcomment %}
                        {{form.email}}
                    </div>
                    <div class="flex flex-col w-1/2">
                        <label>Phone number</label>
                        {% comment %} <input type="text" class="w-full rounded-md" placeholder='Enter phone number'/> {% endcomment %}
                        {{form.phone_number}}
                    </div>
                </div>
                <div class="flex justify-between space-x-4">
                    <div class="flex flex-col w-1/2">
                        <label>Create password</label>
                        {% comment %} <input type="text" class="w-full rounded-md" placeholder='Enter password'/> {% endcomment %}
                        {{form.password}}
                    </div>
                    <div class="flex flex-col w-1/2">
                        <label>Confirm password</label>
                        {% comment %} <input type="text" class="w-full rounded-md" placeholder='Confirm password'/> {% endcomment %}
                        {{form.confirm_password}}
                    </div>
                </div>
                
            </div>
            <div class='pt-4'>
                <button type='submit' class='w-full text-white rounded bg-[#038d63] py-2'>
                    Register
                </button>
            </div>
            <div class='mt-4'>
                <center>Have an account? <a href="{% url 'login' %}" class='text-[#038d63]'>Log in</a></center>
            </div>
        </div>
    </form>
    
</div>



{% endblock %}