{% extends "index.html" %} {% block title %}login{% endblock %} 
{% block content %}

<section class="mx-2 section-conten p-y" style="min-height: 64vh">
  <!-- ============================ COMPONENT LOGIN   ================================= -->

  
  <div class="flex justify-center items-center h-[80vh] w-full">
    <div
      class="h-[69vh] md:h-fit w-[96%] md:w-[26%] border border-gray-500 rounded pt-8 px-8"
    >
      <div class="text-stone-700 text-2xl font-bold">Reset Password</div>
      {% include "include/alerts.html" %}

      <form action="{% url 'resetPassword' %}" method='post'>
        {% csrf_token %}
        <div class="mt-8 space-y-4">
          <input
            name="password"
            class="w-full rounded-lg"
            type="password"
            placeholder="Create Password"
          />
          <input
            name="confirm_password"
            class="w-full rounded-lg"
            type="password"
            placeholder="Confirm Password"
          />
        </div>
        <div class='mt-4'>
          <button
            type="submit"
            class="bg-[#038d63] w-full text-white py-2 mb-8 rounded-lg"
          >
            Reset
          </button>
        </div>
      </form>
      <div class="mb-8">
        <center class="" for="">
          Dont have account?
          <a href="{% url 'register' %}" class="text-[#038d63]">Sign up</a>
        </center>
      </div>
    </div>
  </div>
  {% endblock %}
</section>
