{% extends "index.html" %}
{% block title %}Checkout{% endblock %}
{% block content %}

{% comment %} main  {% endcomment %}
<div class='flex justify-center w-full mb-[60vh] md:mb-0'>
    <div class='md:flex justify-between w-[95%] md:w-[77%] h-[59vh] my-8 md:my-14'>
        {% comment %} left box {% endcomment %}
        <div class='w-full md:w-[49%] h-full border border-stone-200 space-y-4 rounded'>
            <div class='text-2xl text-stone-600 font-bold'>
                Billing Address
            </div>
            <div class='text-stone-600 space-y-4'>
                <div class='space-y-2 md:space-y-4'>
                    <div class='flex gap-2'>
                        <div class='w-[50%]'>
                            <label for="">First Name</label>
                            <input type="text" class='w-full border-stone-300 rounded'>
                        </div>
                        <div class='w-[50%]'>
                            <label for="">Last Name</label>
                            <input type="text" class='w-full border-stone-300 rounded'>
                        </div>
                    </div>
                    <div class='flex gap-2'>
                        <div class='w-[50%]'>
                            <label for="">Email</label>
                            <input type="text" class='w-full border-stone-300 rounded'>
                        </div>
                        <div class='w-[50%]'>
                            <label for="">Phone Number</label>
                            <input type="text" class='w-full border-stone-300 rounded'>
                        </div>
                    </div>
                    <div class='flex gap-2'>
                        <div class='w-[50%]'>
                            <label for="">Address Line 1</label>
                            <input type="text" class='w-full border-stone-300 rounded'>
                        </div>
                        <div class='w-[50%]'>
                            <label for="">Address Line 2</label>
                            <input type="text" class='w-full border-stone-300 rounded'>
                        </div>
                    </div>
                </div>
                <div class='flex gap-2'>
                    <div class='w-[33%]'>
                        <label for="">City</label>
                        <input type="text" class='w-full border-stone-300 rounded'>
                    </div>
                    <div class='w-[33%] '>
                        <label for="">State</label>
                        <input type="text" class='w-full border-stone-300 rounded'>
                    </div>
                    <div class='w-[33%] '>
                        <label for="">Country</label>
                        <input type="text" class='w-full border-stone-300 rounded'>
                    </div>
                </div>
                <div>
                    <p>Order Note</p>
                    <textarea type="text" class='w-full border-stone-300 rounded' rows='2'></textarea>
                </div>
            </div>
        </div>
        {% comment %} right box {% endcomment %}
        <div class='w-full md:w-[49%] mt-20 md:mt-0 h-fit border border-stone-200 rounded'>
            <div class='m-2 md:m-8 space-y-8'>
            
                <div class='flex justify-between w-full h-full'>
                    <div>
                        <div class='text-sm font-bold text-stone-400'>
                            PRODUCT
                        </div>
                        <div class='flex w-fit'>
                            <div class='w-[11vh] '>
                                <img
                                    src="https://www.photographmyproduct.co.uk/wp-content/uploads/2020/10/Shoes-product-photography-photograph-my-product-20200117-30.jpg"
                                    alt=""
                                />
                            </div>
                            <div class='p-2 md:p-4'>
                                <p class='text-[13px] md:text-lg'>Product-Name</p>
                                <div class='text-[11px] md:text-[12px] text-stone-600'>
                                    <p>Color : White</p>
                                    <p>Size : Medium</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=''>
                        <p class='text-sm font-bold text-stone-400'>QUANTITY</p>
                        <div class='pt-4'>
                            <p>1</p>
                        </div>
                    </div>
                    <div>
                        <p class='text-sm font-bold text-stone-400'>PRICE</p>
                        <div class='pt-4'>
                            <p class='font-bold'>₹ 2000</p>
                            <p class='text-[12px] text-stone-400'>₹ 2000 each</p>
                        </div>
                    </div>
                </div>
                
                {% comment %} bottom buttons {% endcomment %}
                <div class='flex flex-col space-y-2'>
                    <form action="{% url 'place_order' %}" class=''>
                        <button type='submit' class='bg-[#038d63] py-2 w-full text-white rounded'>
                            Place Order
                        </button>
                    </form>
                    <a href="{% url 'store' %}" class='flex justify-center border border-stone-500 py-2 rounded'>Continue Shopping</a>
                </div>
                
            
        </div>
    </div>
    
</div>




{% endblock %}