{% extends "index.html" %}

{% block title %}store{% endblock %}

{% block content %}

<div>
    <div class='text-lg md:text-3xl font-bold px-2 md:px-20 py-4 md:py-8 text-[#038d63]'>
        <h2>Our Store</h2>
    </div>

    <div class='md:flex md:h-[73vh] px-2 md:px-20'>
        <div class='bg-green-200 h-full w-full md:w-[25%] p-4 space-y-2 md:space-y-0'>
            <div class='h-[30vh] flex flex-col'>
                <label class='flex justify-between text-[#038d63] text-lg' onClick="toggleDropdown()">
                    Categories
                    <p><i class="fa-solid fa-caret-down"></i></p>
                </label>
                <div id='dropdown' class='flex flex-col space-y-2 p-2 text-white bg-green-400 hidden shadow-lg'>
                            {% comment %} <option selected disabled><a href="">Select</a></option>
                            <option><a href="">All products</a></option>
                            <a href="">Shirts</a>
                            <a href="">T-shirts</a>
                            <a href="">Shoes</a>
                            <a href="">Jeans</a>
                            <a href="">Jackets</a> {% endcomment %}
                            
                            <ul class="">
                                <li><a href="{% url 'store' %}">All Products</a></li>
                                    
                                    {% comment %} {% for category in links %} {% endcomment %}
                                <li><a href="">Shirts  </a></li>
                                {% comment %} {% endfor %} {% endcomment %}
                            </ul>
                    </div>
                </select>
            </div>
            <div class='h-[15vh]'>
                {% comment %} <label class='flex justify-between text-[#038d63] text-lg' onClick="toggleDropdown()">
                    Size
                    <p><i class="fa-solid fa-caret-down"></i></p>
                </label>
                <div id='dropdown' class='p-4 hidden'>
                    <button class='border border-black rounded p-1'>XS</button>
                    <button class='border border-black p-1 rounded'>SM</button>
                    <button class='border border-black p-1 rounded'>LG</button>
                    <button class='border border-black p-1 rounded'>XXL</button>
                </div> {% endcomment %}
                
                <div x-data="{ open: false }" class="mb-4">
                    <button @click="open = !open" class="w-full text-left bg-green-500 text-white py-2 px-4 rounded-md">
                        Size
                    </button>
                    <ul x-show="open" class="pl-4 mt-2 space-y-2 text-gray-700">
                        <li>SM</li>
                        <li>MD</li>
                        <li>XL</li>
                        <li>XXL</li>
                    </ul>
                </div>
            </div>
            <div class='h-[25vh]'>
                <h2 class='text-[#038d63] text-lg'>
                    Price range
                </h2>
                <div class='flex justify-between pt-2'>
                    <p>Min</p>
                    <p>Max</p>
                </div>
                <div class='flex justify-between'>
                    <button class='border border-black w-[48%] py-1 rounded'>₹0</button>
                    <button class='border border-black w-[48%] py-1 rounded'>₹50</button>
                </div>
                <div>
                    <button class='w-full py-1 mt-4 md:mt-8 bg-[#038d63] text-white rounded'>Apply</button>
                    
                </div>
            </div>
            
        </div>
        <div class='w-full ml-0 md:ml-8 space-y-4'>
            <h3>6 Items found</h3>
            
            <div class='md:flex gap-6 md:justify-between h-[180vh] md:h-[54vh] w-full pt-5'>
                <div class='border-2 h-[56vh] md:h-[100%] w-[80%] md:w-[30%] rounded mx-8 md:mx-auto mb-4'>
                    <div class='mx-4 w-[90%]'>
                        <a href="{% url 'prod_detail' %}">
                            <img src="https://www.photographmyproduct.co.uk/wp-content/uploads/2020/10/Shoes-product-photography-photograph-my-product-20200117-30.jpg" alt="">
                        </a>
                    </div>
                    <div class='mx-4'>
                        <h3 class='text-lg text-[#038d63]'>
                            <a href="{% url 'prod_detail' %}">Product name</a>
                        </h3>
                        <p class='font-bold'>₹ 2000</p>
                        <a href="{% url 'prod_detail' %}">
                            <button class='bg-[#038d63] text-white w-full mt-4 py-2 rounded'>
                                View Details
                            </button>
                        </a>
                    </div>
                    <div></div>
                </div>
                <div class='border-2 h-[56vh] md:h-[100%] w-[80%] md:w-[30%] rounded mx-8 md:mx-auto mb-4'>
                    <div class='mx-4 w-[90%]'>
                        <a href="{% url 'prod_detail' %}">
                            <img src="https://www.photographmyproduct.co.uk/wp-content/uploads/2020/10/Shoes-product-photography-photograph-my-product-20200117-30.jpg" alt="">
                        </a>
                    </div>
                    <div class='mx-4'>
                        <h3 class='text-lg text-[#038d63]'>
                            <a href="{% url 'prod_detail' %}">Product name</a>
                        </h3>
                        <p class='font-bold'>₹ 2000</p>
                        <a href="{% url 'prod_detail' %}">
                            <button class='bg-[#038d63] text-white w-full mt-4 py-2 rounded'>
                                View Details
                            </button>
                        </a>
                    </div>
                    <div></div>
                </div>
                <div class='border-2 h-[56vh] md:h-[100%] w-[80%] md:w-[30%] rounded mx-8 md:mx-auto mb-4'>
                    <div class='mx-4 w-[90%]'>
                        <a href="{% url 'prod_detail' %}">
                            <img src="https://www.photographmyproduct.co.uk/wp-content/uploads/2020/10/Shoes-product-photography-photograph-my-product-20200117-30.jpg" alt="">
                        </a>
                    </div>
                    <div class='mx-4'>
                        <h3 class='text-lg text-[#038d63]'>
                            <a href="{% url 'prod_detail' %}">Product name</a>
                        </h3>
                        <p class='font-bold'>₹ 2000</p>
                        <a href="{% url 'prod_detail' %}">
                            <button class='bg-[#038d63] text-white w-full mt-4 py-2 rounded'>
                                View Details
                            </button>
                        </a>
                    </div>
                    <div></div>
                </div>
                
            </div>
            {% comment %} preview pages  {% endcomment %}
            <div class='flex text-md md:text-lg text-stone-800 ml-4'>
                <a href="" class='border border-stone-800 px-2 rounded-l'>Preview</a>
                <a href="" class='border border-stone-800 px-2'>1</a>
                <a href="" class='border border-stone-800 px-2'>2</a>
                <a href="" class='border border-stone-800 px-2 rounded-r'>Next</a>
            </div>
        </div>
    </div>


</div>


<script>
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2" defer></script>

    function toggleDropdown(){
        const dropdown = document.getElementById('dropdown');
        dropdown.classList.toggle("hidden");
    }
</script>

{% endblock %}